<article
  *ngrxLet="{
    error: error$,
    scheme: scheme$,
    value: value$,
    width: width$
  } as observables"
  [ngClass]="[observables.scheme, observables.width]"
>
  <ng-container *ngIf="observables.value as value">
    <header>
      <h1>{{ value.word }}</h1>
      <span class="phonetic">{{ value.phonetic }}</span>
      <div *ngIf="value.audio as audio" class="audio">
        <audio #audio [src]="audio"></audio>
        <button
          (click)="onPlay()"
          (mouseenter)="onHover()"
          (mouseleave)="onHover()"
        >
          <img class="play" alt="Play Icon" [src]="imgSrc()" />
        </button>
      </div>
    </header>
    <ul class="parts">
      <li *ngFor="let meaning of value.meanings">
        <h2 class="part">{{ meaning.partOfSpeech }}</h2>
        <section class="meaning">
          <h3 class="meaning-heading">Meaning</h3>
          <ul class="meanings">
            <li
              *ngFor="let definition of meaning.definitions"
              class="meanings-item"
            >
              <div class="meanings-definition">
                <p class="definition">{{ definition.definition }}</p>
                <p *ngIf="definition.example as example" class="example">
                  "{{ example }}"
                </p>
              </div>
            </li>
          </ul>
        </section>
        <!-- <ng-container *ngrxLet="meaning.synonyms as synonyms">
          <section *ngIf="synonyms[0]" class="nyms">
            <h3>Synonyms</h3>
            <nav>
              <ul class="nyms-list">
                <li *ngFor="let synonym of synonyms" class="nyms-item">
                  {{ synonym }}
                </li>
              </ul>
            </nav>
          </section>
        </ng-container>
        <ng-container *ngrxLet="meaning.antonyms as antonyms">
          <section *ngIf="antonyms[0]" class="nyms">
            <h3>Antonyms</h3>
            <nav>
              <ul class="nyms-list">
                <li *ngFor="let antonym of antonyms" class="nyms-item">
                  {{ antonym }}
                </li>
              </ul>
            </nav>
          </section>
        </ng-container> -->
        <ul>
          <li *ngFor="let nym of nyms">
            <ng-container *ngrxLet="meaning[nym] as nyms">
              <section *ngIf="nyms[0]" class="nyms">
                <h3>{{ nym | titlecase }}</h3>
                <nav>
                  <ul class="nyms-list">
                    <li *ngFor="let nym of nyms" class="nyms-item">
                      {{ nym }}
                    </li>
                  </ul>
                </nav>
              </section>
            </ng-container>
          </li>
        </ul>
      </li>
    </ul>
    <br />
    <footer *ngrxLet="value.sourceUrl as source">
      <h2>Source</h2>
      <a [href]="source" target="_blank"
        >{{ source }}
        <img
          src="../../assets/images/icon-new-window.svg"
          alt="New Window Icon"
        />
      </a>
    </footer>
  </ng-container>
</article>
