header {
  align-items: center;
  display: grid;
  grid-template-areas:
    "word     audio"
    "phonetic audio";
  justify-content: space-between;
  row-gap: 8px;
}

h1 {
  grid-area: word;
}

.phonetic {
  color: #a445ed;
  font-family: var(--font-family-sans-serif);
  grid-area: phonetic;
}

.audio {
  grid-area: audio;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

.play {
  display: block;
}

ul {
  list-style-type: none;
}

.parts {
  display: flex;
  flex-direction: column;
}

.part {
  align-items: center;
  display: flex;
  font-style: italic;
  font-weight: 700;
}

.part::after {
  content: "";
  height: 1px;
  width: 100%;
}

h3 {
  color: #757575;
  font-weight: 400;
}

.meanings {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.meanings-item {
  display: flex;
  gap: 1.25rem;
}

.meanings-item::before {
  content: url(../../../assets/images/marker.svg);
  line-height: 0;
  transform: translateY(10px);
}

.example {
  color: #757575;
  margin-top: 13px;
}

.nyms {
  display: flex;
}

.nyms-list {
  color: #a445ed;
  font-weight: 700;
}

.nyms-item {
  cursor: pointer;
}

.nyms-item:hover {
  text-decoration: underline;
}

.source {
  color: #757575;
  font-size: 0.87rem;
  font-weight: 400;
}

.source-link {
  font-size: 0.87rem;
}
