.tablet {
  font-size: 1.12rem;
}

.tablet .entry-header {
  margin-bottom: 2.5rem;
}

.tablet .word {
  font-size: 4rem;
}

.tablet .phonetic {
  font-size: 1.5rem;
}

.tablet .parts {
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}

.tablet .part {
  font-size: 1.5rem;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.tablet h3 {
  font-size: 1.25rem;
}

.tablet .meaning-heading {
  margin-bottom: 1.56rem;
}

.tablet .meanings-item {
  line-height: 133.33%;
}

.tablet .nyms {
  font-size: 1.25rem;
  gap: 1.37rem;
  margin-top: 2.5rem;
}

.tablet hr {
  margin-bottom: 1.19rem;
}

.tablet a {
  align-items: flex-end;
  display: flex;
}

.tablet .source {
  margin-right: 1.25rem;
}

.tablet .source-link {
  margin-right: 9px;
}


