/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family-mono: "Inconsolata", monospace;
  --font-family-sans-serif: "Inter", sans-serif;
  --font-family-serif: "Lora", serif;
}

html,
body {
  height: 100%;
}
